// fonts configuration
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 3.25rem;

//font family:
$default-font: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// ---------------------------------------------colors --------------------------------------------

$transparent-bg: rgba(52, 43, 39, 0.773);
$default-color: #fee2e2;
$primary: #fb923c;
$secondary: #ec4899;
$secondary2: #322e28;
