.utility {
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  background-color: $transparent-bg;
  padding: 0 5px;
  border-radius: 12px;

  @include m.breakpoint(xl) {
    transition: all 1s ease-in-out;
    @include m.hover {
      background: linear-gradient(to right, $primary, $transparent-bg);

      .utility__btn {
        border-radius: 0;
        transition: all 1s ease;
        height: 70px;
        width: 70px;
        transform: rotate(180deg);

        span {
          display: block;
          transform: rotate(45deg);
          border-color: $secondary2;
        }
      }
    }
  }

  .utility__btn {
    height: 50%;
    width: 15%;
    background-color: #222;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include m.breakpoint(xl) {
      border-radius: 0;
      transition: all 1s ease;
      height: 70px;
      width: 70px;

      span {
        transform: rotate(0);
      }
    }

    @include m.breakpoint(md) {
      height: 50px;
      width: 50px;
    }

    span {
      width: 100%;
      height: 100%;
      border: 3px solid $primary;
      border-radius: 50%;
      margin: auto;
      @include m.breakpoint(xl) {
        border-radius: 0;
        transition: all 1s ease;
        display: none;

        @include m.hover {
          transform: rotate(45deg);
          background-color: $primary;
          opacity: 0.7;
        }
      }
    }
  }

  .utility__description {
    width: 90%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;

    @include m.breakpoint(xl) {
    }

    .hidden-description {
      display: none;
    }
  }
}
