.motivation-section {
  background-blend-mode: multiply;
  background: url("/app/assets/images/carousel-2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-color: $transparent-bg;
}

.about-m {
  @include m.breakpoint(xl) {
    min-height: 400px;
    .bottom-section {
      min-height: 400px;
    }
  }
}

.user-motivation {
  height: 850px;
  width: 100%;
  padding-top: 10px;
  border-radius: 12px;
  @include m.breakpoint(md) {
    padding: 20px 30px;
    height: 1024px;
  }

  @include m.breakpoint(xl) {
    display: flex;
    @include m.default_container(fit-content);
  }

  .about-motivation {
    background: url("/app/assets/images/workers.jpg");
  }

  .top-section {
    height: 50%;
    background: url("/app/assets/images/consulting_phone.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 0.7;
    @include m.breakpoint(xl) {
      height: auto;
      background-position: initial;
      width: 50%;
      transition: all 300ms ease-in-out;
      background-size: cover;

      @include m.hover {
        background-size: cover;
        background-position-x: -10px;
        background-repeat: no-repeat;
        background-color: $transparent-bg;
        transform: scaleX(110%);
      }
    }
  }

  .bottom-section {
    width: 100%;
    height: 50%;
    padding: 20px;
    background-color: $secondary2;

    @include m.breakpoint(xl) {
      width: 50%;
      height: 100%;
      padding: 30px;
    }

    h2 {
      font-size: $text-4xl;
      color: $primary;
      @include m.breakpoint(md) {
        font-size: $text-5xl;
      }
    }

    .embeded-list {
      padding: 10px 0;
      display: flex;
      flex-direction: column;

      .utility:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
